{% extends 'base.html.twig' %}

{% block title %}New Elevators{% endblock %}

{% block body %}
    <h1>Create new Elevators</h1>

    {{ include('elevators/_form.html.twig') }}

    <a href="{{ path('elevators_index') }}">back to list</a>
{% endblock %}
