{% extends 'base.html.twig' %}

{% block title %}New Houses{% endblock %}

{% block body %}
    <h1>Create new Houses</h1>

    {{ include('houses/_form.html.twig') }}

    <a href="{{ path('houses_index') }}">back to list</a>
{% endblock %}
